{% extends "core/crud/liste_in_box.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}





{% block contenu_page %}
    {% embed 'core/box.html' %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Activité</span>
                </div>
                <select id="choix_activite" class="form-control">
                    {% for code, label in liste_activites %}
                        <option {% if code == activite %}selected{% endif %} value="{% if not code %}0{% else %}{{ code }}{% endif %}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <script>
                $(document).ready(function() {
                    function reload_page() {
                        var url = "{% url url_liste %}" + "/" + $("#choix_activite").val();
                        window.location.href = url;
                    }
                    $('#choix_activite').change(reload_page);
                });
            </script>

<!-- Tableau des données brutes -->
            <table class="table table-striped table-bordered" id="datatable">
                <thead>
                    <tr>
                        <th>Individu</th>
                        <th>Renseignements manquants</th>
                        <th>Pièces manquantes</th>
                        <th>Vaccinations manquantes</th>
                        <th>Questionnaires manquants</th>
                        <th>Sondages manquants</th>
                        <th>Vérification infos. en attente</th>
                        <th>Solde</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_par_individu %}
                        <tr>
                            <td>{{ row.individu.nom }} {{ row.individu.prenom }}</td>
                            <td>{{ row.renseignements_manquants }}</td>
                            <td>{{ row.pieces_manquantes }}</td>
                            <td>{{ row.vaccins_manquants }}</td>
                            <td>{{ row.questions_manquantes }}</td>
                            <td>{{ row.sondages_manquants }}</td>
                            <td>{{ row.besoin_certification }}</td>
                            <td>{{ row.solde_a_payer|floatformat:2 }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endblock box_contenu %}
        {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
    {% endembed %}
{% endblock contenu_page %}
