{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block contenu_page %}
    {% embed 'core/box.html' %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}
            {% if code == "succeeded" %}
                    <p>Paiement reçu, vérification en cours...</p>
                {% elif code == "canceled" %}
                    <p>Le paiement a été annulé.</p>
                {% else %}
                    <p>Statut du paiement inconnu.</p>
                {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
