{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
    <style>
        @media only screen and (max-width: 800px) {
            #table-fiches td:nth-child(2) {
                display: none;
            }
        }
        @media only screen and (max-width: 600px) {
            #table-fiches td:nth-child(3) {
                display: none;
            }
        }
        .project-state {
            text-align: left !important;
        }

        @media (min-width: 1500px) {
            .card-columns {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }
        @media (max-width: 1500px) {
            .card-columns {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }
        @media (max-width: 800px) {
            .card-columns {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }
        @media (max-width: 550px) {
            .card-columns {
                -webkit-column-count: 1;
                -moz-column-count: 1;
                column-count: 1;
            }
        }
        .card_approbation {
            margin-bottom: 0px !important;
            margin-top: 1px;
        }
        .card-columns {
            column-gap: 10px;
            margin-bottom: 4px;
        }
        #famille_approbations_form .form-group {
            margin-bottom: 5px;
        }

        .mailbox-attachment-icon {
            color: #666;
            font-size: 40px;
            max-height: 132.5px;
            padding: 10px 10px;
            text-align: center;
            border-radius: 5px 5px 0 0;
        }
        @media (min-width: 576px) {
            .card-columns {
                column-count: 4;
            }
        }
    </style>
{% endblock %}

{% block contenu_page %}

    {# Texte d'introduction #}
    {% if parametres_portail.renseignements_intro %}
        <div style="margin-bottom: 20px;">
            <i class="fa fa-info-circle margin-r-5"></i>{{ parametres_portail.renseignements_intro }}
        </div>
    {% endif %}

{% comment %}
    {#  Renseignements manquants #}
    {% if renseignements_manquants %}
        {% embed 'core/box.html' with box_introduction=True %}
            {% block box_theme %}card-outline card-danger{% endblock %}
            {% block box_titre %}<i class="fa fa-exclamation-triangle text-danger"></i> Renseignements manquants{% endblock %}
            {% block box_introduction %}Merci de renseigner les informations manquantes dans les fiches ci-dessous :{% endblock %}
            {% block box_contenu %}
                <ul>
                {% for individu, liste_renseignements in renseignements_manquants.items %}
                    <li><strong>{{ individu.prenom }}</strong> :
                        <ul>
                            {% for renseignement in liste_renseignements %}
                                <li>{{ renseignement }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endcomment %}

    {# Liste des fiches de renseignements #}
    {% embed 'core/box.html' with box_titre=True %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{% blocktrans %}Fiches de renseignements{% endblocktrans %}{% endblock %}
        {% block box_outils %}
            <a type="button" class="btn btn-success btn-xs" style="margin-right: 10px;" title="Ajouter un enfant" href="{% url 'famille_individu' %}"><i class="fa fa-plus"></i> Ajouter un enfant</a>
            <a type="button" class="btn btn-success btn-xs" style="margin-right: 10px;" title="Ajouter un parent" href="{% url 'famille_parent' %}"><i class="fa fa-plus"></i> Ajouter un parent</a>
        {% endblock %}
        {% block card_body_classe %}p-0{% endblock %}
        {% block box_contenu %}

            <table id="table-fiches" class="table table-hover projects" style="cursor: pointer;">
                <tbody>


                    {# Fiches individuelles #}
                    {% for rattachement in rattachements %}
                        <tr data-url="{% url 'portail_individu_identite' idrattachement=rattachement.pk %}">
                            <td>
                                <img src="{{ rattachement.individu.Get_photo }}" alt="user-avatar" class="img-circle img-fluid table-avatar" style="max-height: 80px">
                                <span class="ml-2"><strong>{{ rattachement.individu.Get_nom }}</strong></span>
                                {# infos rapide #}
                                {# pas d'allergies #}
                                {%if rattachement.individu.allergies2|length == 0 %}
                                    <span class="badge badge-primary" title="Allergies">Pas d'allergies</span>
                                {% else %}
                                {% endif %}
                                {% if rattachement.individu.traitements|length == 0 %} 
                                <span class="badge badge-primary" title="traitements">Pas de traitements</span>
                                {% else %}
                                {% endif %}
                                {%if rattachement.individu.dispmed2|length == 0 %}
                                    <span class="badge badge-primary" title="Dispositifs médicaux">Pas de dispositifs médicaux</span>
                                {% else %}
                                {% endif %}
                            </td>
                            <td>
                                {% if rattachement.categorie == 1 %}{% blocktrans %}Fiche représentant{% endblocktrans %}{% endif %}
                                {% if rattachement.categorie == 2 %}{% blocktrans %}Fiche enfant{% endblocktrans %}{% endif %}
                                {% if rattachement.categorie == 3 %}{% blocktrans %}Fiche contact{% endblocktrans %}{% endif %}
                            </td>
                            <td class="project-state">
                                <small>
                                    <ul class="list-unstyled">
                                        {% if rattachement.certification_date %}
                                            <li class="text-success"><i class="fa fa-check margin-r-5"></i>{% blocktrans %}Fiche certifiée exacte le{% endblocktrans %} {{ rattachement.certification_date|date:'d/m/Y' }}</li>
                                        {% else %}
                                            <li class="text-danger"><i class="fa fa-remove margin-r-5"></i>{% blocktrans %}Fiche en attente de certification{% endblocktrans %}</li>
                                        {% endif %}
                                        {% for renseignement in renseignements_manquants|get_item:rattachement.individu %}
                                            <li class="text-red"><i class="fa fa-remove margin-r-5"></i>{{ renseignement }}</li>
                                        {% endfor %}
                                    </ul>
                                </small>
                            </td>
                            <td class="text-right">
                                <a href="{% url 'portail_individu_identite' idrattachement=rattachement.pk %}" class="btn btn-sm btn-primary" title="{% trans "Ouvrir la fiche" %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        {% endblock box_contenu %}
    {% endembed %}

    <script>
        $(document).ready(function() {
            $('.table-hover tbody tr').click(function() {
                window.location = $(this).data('url');
            });
        });
    </script>

    <hr class="mt-2 mb-4">
    <h3 class="mb-4">{% trans "Documents et pièces justificatives" %}</h3>


    {# Liste des pièces à fournir #}
    {% embed 'core/box.html' with box_titre=True %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{% blocktrans %}Pièces à fournir{% endblocktrans %}{% endblock %}
        {% block box_contenu %}
            {% if pieces_fournir %}
                <p>{% blocktrans %}Les pièces suivantes marquées d'une croix rouge sont à nous transmettre{% endblocktrans %} :</p>
                <ul class="list-unstyled">
                    {% for piece in pieces_fournir %}
                        <li>{% if piece.valide %}<i class='fa fa-check fa-fw text-green'></i>{% else %}<i class='fa fa-close fa-fw text-red'></i>{% endif %} {{ piece.label }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% blocktrans %}Aucune pièce à fournir.{% endblocktrans %}
            {% endif %}
        {% endblock box_contenu %}
    {% endembed %}

    {# Transmettre des documents #}
    {% embed 'core/box.html' with box_titre=True %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{% blocktrans %}Transmettre un document{% endblocktrans %}{% endblock %}
        {% block box_contenu %}
            <p>{% blocktrans %}Cliquez sur le bouton ci-dessous pour nous transmettre un document (une pièce du dossier, un certificat, une attestation, etc...){% endblocktrans %} :</p>
            <a type="button" class="btn btn-success" title="{% trans "Transmettre un document" %}" href="{% url 'portail_transmettre_piece' %}"><i class="fa fa-send-o margin-r-5"></i>{% blocktrans %}Transmettre un document{% endblocktrans %}</a>
        {% endblock box_contenu %}
    {% endembed %}

    {# Liste des documents à télécharger #}
    {% if liste_documents %}
        {% embed 'core/box.html' with box_titre=True %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{% blocktrans %}Documents à télécharger{% endblocktrans %}{% endblock %}
            {% block box_contenu %}
                <p>{% blocktrans %}Cliquez sur le nom d'un document pour le télécharger{% endblocktrans %} :</p>
                <div class="card-columns">
                    {% for document in liste_documents %}
                        <div class="card mb-4" style="margin-top: 1px;">
                            <div class="card-body pl-3 pr-3 pt-3 pb-1" style="background-color: #f4f6f9">
                                <h5 class="card-title"><a href="{{ document.fichier.url }}" target="_blank" title="{% trans "Télécharger le document" %}">{{ document.titre }}</a></h5>
                                <div class="card-text link-muted mt-1"><small>{{ document.texte|default:"&nbsp;" }}</small></div>
                                <span class="mailbox-attachment-size clearfix mt-1 mb-2">
                                    <span>{{ document.fichier.size|filesizeformat }} - {{ document.extension|upper }}</span>
                                    <a href="{{ document.fichier.url }}" class="btn btn-default btn-sm float-right" target="_blank" title="{% trans "Télécharger le document" %}"><i class="fa fa-download"></i></a>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock box_contenu %}
        {% endembed %}
    {% endif %}
{# Liste des pièces fournies #}
{% embed 'core/box.html' with box_titre=True %}
    {% block box_theme %}card-outline card-lightblue{% endblock %}
    {% block box_titre %}{% blocktrans %}Liste des pièces fournies{% endblocktrans %}{% endblock %}
    {% block box_contenu %}
        <div style="display: block;overflow-x: auto;white-space: nowrap;">
            {% if liste_pieces %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>{% trans "Individu" %}</th>
                            <th>{% trans "Type de pièce" %}</th>
                            <th style="width: 90px;">{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for piece in liste_pieces %}
                            <tr class="text-center">
                                <td>{{ piece.individu.prenom }}</td>
                                <td>{{ piece.type_piece.nom|default:piece.titre }}</td>
                                <td>
                                    <a href="{{ MEDIA_URL }}{{ piece.document }}" class="btn btn-primary btn-xs bouton_telecharger" target="_blank" title="{% trans "Ouvrir le document" %}"><i class="fa fa-eye"></i> </a>
                                    <a href="{% url 'portail_documents_modifier' piece.pk %}" class="btn btn-warning btn-xs" title="{% trans "Modifier le document" %}"> <i class="fa fa-pencil"></i> </a>
                                    <form action="{% url 'supprimer_piece' pk=piece.pk %}" method="post" style="display: inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette pièce ?');">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-xs" title="{% trans "Supprimer le document" %}"><i class="fa fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <b>{% blocktrans %}Aucune pièce.{% endblocktrans %}</b>
            {% endif %}
        </div>
    {% endblock box_contenu %}
    {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
{% endembed %}
    <hr class="mt-2 mb-4">
    <h3 class="mb-4">
        {% trans "Attestations de présence" %}
    </h3>

    {# Liste des attestations #}
    {% embed 'core/box.html' with box_titre=True %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{% blocktrans %}Liste des attestations de présence{% endblocktrans %}{% endblock %}
        {% block box_contenu %}
            <div style="display: block;overflow-x: auto;white-space: nowrap;">
                {% if liste_attestations %}
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>{% trans "Individu" %}</th>
                                <th>{% trans "Activité" %}</th>
                                <th style="width: 90px;">{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attestationdoc in liste_attestations %}
                                <tr class="text-center">
                                    <td>{{ attestationdoc.individus.prenom }}</td>
                                    <td>{{ attestationdoc.activites.nom }}</td>
                                    <td>
                                        <a href="{{ MEDIA_URL }}{{ attestationdoc.fichier }}" class="btn btn-primary btn-xs bouton_telecharger" target="_blank" title="{% trans "Télécharger le document" %}"><i class="fa fa-download"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <b>{% blocktrans %}Aucune attestation.{% endblocktrans %}</b>
                {% endif %}
            </div>
        {% endblock box_contenu %}
        {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
    {% endembed %}
{% endblock contenu_page %}
